@page
@{
}
<div class="col-4 col-12-medium">
	<div id="sidebar">


		<section>
			<header class="major">
				<h2>Добро пожаловать!</h2>
			</header>
			<p>
				Мы крутые бла - бла - бла , наши услуги самые лучшие!
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button" href="#"> Перейти к услугам</a>
			</footer>
		</section>

	</div>
</div>