
@{
}
<div class="col-4 col-12-medium">
	<div id="sidebar">


		<section>
			<header class="major">
				<h2>Добро пожаловать!</h2>
			</header>
			<p>
			
				Некогда заняться своим жильем? Мечтаете об обновленном пространстве? Мы — ваши надежные партнеры в мире ремонта!

				Специализируемся на  ремонте квартир и офисов.

				Наша команда опытных мастеров гарантирует качественное выполнение работ, соблюдение сроков и прозрачные цены. Мы используем только проверенные материалы и современные технологии.
			</p>
			
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button" > Перейти к услугам</a>
			</footer>
		</section>

	</div>
</div>