
<div class="col-4 col-12-medium">
	<div id="sidebar">


		<section>
			<header class="major">
				<h2>Добро пожаловать!</h2>
			</header>
			<p>
				Некогда заниматься ремонтом? Мы сделаем всё за вас — быстро, качественно и без лишнего шума.

				Специализируемся на ремонте квартир и офисов под ключ.

				Опытные мастера, честные цены, гарантия на все работы.

				Освободите своё время — мы создадим уют, в котором захочется жить.
			</p>
			
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button" > Перейти к услугам</a>
			</footer>
		</section>

	</div>
</div>