@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2>Добро пожаловать на сайт самой лучшей компании!</h2>
				<p>Мы сделаем лучше твоих ожиданий!</p>
			</header>
			<span class="image featured"><img src="images/pic08.jpg" alt="" /></span>
		</article>
	</div>
</div>