@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2>Добро пожаловать на сайт нашей компании!</h2>
				<p> Ремонт - наш конёк! </p>
			</header>
			<span class="image featured"><img src="~/img/remont.jpg" alt="Фото"/></span>
		</article>
	</div>
</div>