@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2> Главная страница сайта  нашей компании</h2>
				<p> какой-то текст </p>
			</header>
			<span class="image featured"><img src="~/img/remont.jpg" alt="Фото"/></span>
		</article>
	</div>
</div>