@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2> Профессиональный ремонт под ключ</h2>
				<p>  От проекта до сдачи — мы возьмём на себя всё. Квартиры, дома, офисы. Без задержек, без скрытых платежей. </p>
			</header>
			<span class="img-width image featured"><img src="~/img/remont.jpg" alt="Фото" /></span> 
		</article>
	</div>
</div>